@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype');
}

html,
body {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: #76301d;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('img/10_background/background.png');
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
}

h1 {
    font-size: 60px;
    margin-top: 4px;
    text-shadow: 4px 3px 6px rgba(150, 62, 38, 1);
    color: #76301d;
}

.dnone {
    display: none !important;
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
}

.start-screen {
    width: 100%;
    height: 100%;
    position: absolute;
}

.end-screen-win {
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}

.end-screen-lost {
    width: 100%;
    height: 100%;
    position: absolute;
}

.info-screen,
.impressum-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 300;
}

.content-impressum {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0;
}

.container-scroll {
    overflow-y: auto;
    margin: 24px;
    padding: 0 24px
}

h3 {
    margin: 24px 0 8px 0;
}

.headline-impressum {
    margin-top: 0;
}

.content-description,
.content-impressum {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(198, 155, 93);
    position: absolute;
    top: 60px;
    left: 60px;
    bottom: 60px;
    right: 60px;
    color: #76301d;
    text-shadow: 2px 2px 2px rgba(150, 62, 38, 0.6);
}

.close-description,
.close-impressum {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 28px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

h2 {
    text-shadow: 2px 2px 4px rgba(150, 62, 38, 1);
    font-size: 28px;
    margin-top: 0;
}

.close-description:hover {
    transform: scale(1.1);
    color: #76301d9a;
}

.description {
    padding: 0 48px;
    font-size: 24px;
}

.start-screen-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    color: #ffffff;
}

.end-screen-img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
}

.end-screen-lost-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.end-buttons {
    width: 100%;
    height: 100%;
    position: absolute;
}

.go-home-button {
    position: absolute;
    bottom: 80px;
    left: 80px;
    text-align: center;
    font-size: 40px;
    text-shadow: 4px 3px 6px rgba(98, 78, 10, 0.8);
    color: rgb(251, 207, 62);
    cursor: pointer;
    letter-spacing: 15px;
    transition: transform 250ms ease-in-out;
}

.restart-button {
    position: absolute;
    bottom: 80px;
    right: 80px;
    text-align: center;
    font-size: 40px;
    text-shadow: 4px 3px 6px rgba(98, 78, 10, 0.8);
    color: rgb(251, 207, 62);
    cursor: pointer;
    letter-spacing: 15px;
    transition: transform 250ms ease-in-out;
}

.go-home-button:hover,
.restart-button:hover {
    color: rgb(255, 219, 0);
    text-shadow: 4px 3px 6px rgba(118, 48, 29, 0.8);
    transform: scale(1.03);
}

.start-button-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-button {
    position: absolute;
    top: 60px;
    text-align: center;
    font-size: 40px;
    text-shadow: 4px 3px 6px rgba(98, 78, 10, 0.8);
    color: rgb(251, 207, 62);
    cursor: pointer;
    animation: pulse 2s ease-in-out 0s infinite normal none;
    transition: color 0.25s ease;
    letter-spacing: 15px;
}

.start-button:hover {
    color: rgb(118, 48, 29);
    text-shadow: 4px 3px 6px rgba(118, 48, 29, 0.8);
}

.link-impressum {
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px 3px rgba(98, 78, 10, 0.8);
    color: #502114;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    transition: all 200ms ease-in-out;
    padding-top: 24px;
}

.link-impressum:hover {
    color: rgb(82, 42, 31);
    text-shadow: 4px 3px 6px rgba(118, 48, 29, 0.8);
    transform: scale(1.03);
}

canvas {
    border-radius: 0px;
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 36px 8px rgb(118 48 29 / 81%);
}

.control-buttons {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    gap: 24px;
    z-index: 100;
}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-btn {
    width: 28px;
    height: auto;
    cursor: pointer;
    transition: filter 0.25s ease;
}

.img-btn:hover {
    filter: drop-shadow(0px 0px 1px #FFFFFF);
    scale: 1.05;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: -40px;
    gap: 24px;
    background-color: #C69B5D;
    padding: 8px 0;
    font-size: 14px;
}

.btns {
    color: #76301d;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btn {
    background-color: #C69B5D;
    border: 1px solid #76301d46;
    border-radius: 6px;
    box-shadow: 0px 2px 2px #76301d;
}

.btn-single-arrow {
    padding: 2px;
    width: 18px;
}

.btn-space {
    padding: 2px;
    width: 60px;
    height: 18px;
}

.btn-single-d {
    padding: 4px;
    width: 14px;
    padding-left: 6px;
}

.button {
    text-shadow: 2px 2px 2px rgba(150, 62, 38, 0.6);
}

.btn-mobile {
    padding: 6px;
    background-color: #c69a5d;
    border: 1px solid #76301d46;
    border-radius: 50%;
    min-width: 3.5%;
    height: 5%;
    box-shadow: 2px 4px 4px #76301d;
    position: absolute;
    bottom: 8px;
}

.btn-single-arrow-left {
    left: 30px;
}

.btn-single-arrow-right {
    left: 100px;
}

.btn-single-bottle-mobile {
    right: 30px;
}

.btn-single-jump-mobile {
    right: 100px;
}

.btn-mobile:hover {
    background-color: #CCC6B5;
    cursor: pointer;
}

.portrait-warning {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 800;
    font-size: 32px;
    gap: 40px;
    color: #76301d;
    text-align: center;
}

.rotateImage {
    animation: rotateAndFade 5s ease-in-out infinite;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    transform-origin: center;
}